imbalanced-learn==0.10.1
keras==2.13.1rc0
matplotlib==3.7.1
mediapipe==0.10.0
numpy==1.23.5
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
openpyxl==3.1.2
pandas==2.0.0
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.13.0rc1
tensorflow-estimator==2.13.0rc0
tensorflow-metal==1.0.0
termcolor==2.2.0
xgboost==1.7.5

